{% extends 'base/base_busqueda.html' %}
{% block title %}CDINTE Quienes Somos{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="es-MX">
<head>
<meta charset="UTF-8"/>
<!-- eTree :.: Title :.: IBM - México-->
<link href="../../../static/css/todo.css" rel="stylesheet"/>

</head>
<!-- eTree :.: Breadcrumb trail :.: -->
<!-- eTree :.: Left navigation :.: -->
<!-- eTree :.: Tab navigation :.: -->
<body>


<header 
 class="ibm-alternate" style="background-image: url(../../../static/img/fondo_quienes.jpg);">
<div id="ibm-leadspace-body"><div class="ibm-columns">
<!-- eTree :.: Column 1-1 :.: J716817X61363O00-->

<div class="ibm-col-6-3 ibm-col-medium-1-1 ibm-padding-top-3">&#10;<h1 class="ibm-h1 ibm-bold ibm-padding-top-3"><font color="white">¿Quienes Somos?</h1>&#10;&#10;<h3 class="ibm-h3">CDINTE ofrece soluciones tecnológicas integrales e innovadoras para necesidades específicas, con el objetivo de mejorar la competitividad y productividad de Mipymes, escuelas y usuarios particulares, contribuyendo al desarrollo económico y social de Hidalgo.</font></h3></div><div class="ibm-col-6-2 ibm-col-medium-1-1"><img alt="" class="ibm-resize" src="../../../static/img/Cdinte.png" /></div>&#10;</div>&#10;

</div>

<!-- LEADSPACE_END --></header>
</div>
<!-- eTree :.: /Column :.: -->

</div>
<!-- eTree :.: /Main Content Grid :.: -->

<!-- eTree :.: Main Content Grid :.: -->
<div class="ibm-columns">
<!-- eTree :.: Column 1-1 :.: R940659J04414A83-->
<div class="ibm-col-1-1">
<div class="ibm-columns" data-always="true" data-items=".ibm-card" data-widget="setsameheight">&#10;  <div class="ibm-col-6-2 ibm-col-medium-6-3">&#10;<div class="ibm-card">&#10;<div class="ibm-card__content">&#10;<h3 class="ibm-h3">MISIÓN</h3>&#10;<p>Somos una empresa que trabaja con pasión y ofrecemos soluciones innovadoras, con el objetivo de mejorar la competitividad y productividad de nuestros clientes.<br><br></p>&#10;<img  src="../../../static/img/mision.jpg" width="340px" height="185px" /><p><br><br><br><br><br><br><br><br><br></p></div>    
</div>&#10;  
</div>&#10; 
<div class="ibm-col-6-2 ibm-col-medium-6-3">&#10;<div class="ibm-card">&#10;<div></div>&#10;<div class="ibm-card__content">&#10;<h3 class="ibm-h3">VALORES</h3>&#10;<p>Hemos identificado un conjunto de valores tecnológicos que ayudarán a reavivar la llama de nuestra empresa. Algunos de estos valores son perdurables, surgen de nuestra historia, ya los conocemos. Otros, en cambio, nos resultarán nuevos. Pero todos ellos deben convivir en nuestros corazones y en nuestras mentes y deben manifestarse en nuestras acciones. <br></p>&#10;<img  src="../../../static/img/Valores.png" width="340px" height="237px" />




</div>&#10;<div class="ibm-card__bottom">&#10;           </div>&#10;    </div>&#10;  </div>&#10;  


<div class="ibm-col-6-2 ibm-col-medium-6-3">&#10;<div class="ibm-card">&#10;<div class="ibm-card__content">&#10;<h3 class="ibm-h3">VISIÓN</h3>&#10;<p>Nos dedica a la consultoría e ingeniería tecnológica en telecomunicaciones,en informática y en sistemas de información, así como el asesoramiento, comercialización,implementación y mantenimiento de proyectos de innovación tecnológica.</p>&#10;<img  src="../../../static/img/vision.png" width="340px" height="315px" />     
</div>&#10;           
</body>
</html>
{% endblock %}