{% extends 'base/base.html' %}

{% block title %}CDINTE Cursos{% endblock %}

{% block content %}

<body>
<BR>	

<center><h3>CURSOS DE CAPACITACIÓN </h3> <BR></center>

<h4>•	Inglés (básico, intermedio, avanzado, enfocado a negocios)<h4>
<h4>•	Programación Estructurada<h4>
<h4>•	Programación Orientada a Objetos<h4>
<h4>•	Programación en Unity<h4>
<h4>•	PHP<h4>
<h4>•	Game Maker Studio<h4>
<h4>•	Ofimática<h4>
<h4>•	Bases de Datos<h4>
<h4>•	Creación de páginas web<h4>
<h4>•	CSS<h4>
<h4>•	Javascript<h4>
<h4>•	Programación de aplicaciones móviles<h4>
<h4>•	Uso y manejo de redes sociales<h4>
<h4>•	Realidad Aumentada <h4>
<h4>•	Realidad Virtual <h4>
<h4>•	Preparación Exani I y II<h4>

	<BR><BR><BR><BR>

{% endblock %}